In [1]:
import pandas as pd

In [2]:
BackOrders_data = pd.read_csv("BackOrders.csv")

In [3]:
BackOrders_data.head()

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
0,1888279,117,NaN,0,0,0,0,0,0,15,...,0,-99.00,-99.00,0,No,No,Yes,Yes,No,No
1,1870557,7,2.0,0,0,0,0,0,0,0,...,0,0.50,0.28,0,Yes,No,No,Yes,No,No
2,1475481,258,15.0,10,10,77,184,46,132,256,...,0,0.54,0.70,0,No,No,No,Yes,No,No
3,1758220,46,2.0,0,0,0,0,1,2,6,...,0,0.75,0.90,0,Yes,No,No,Yes,No,No
4,1360312,2,2.0,0,4,6,10,2,2,5,...,0,0.97,0.92,0,No,No,No,Yes,No,No

In [97]:
target_variable = BackOrders_data['went_on_backorder']

KeyError: 'went_on_backorder'

In [98]:
type(target_variable)

numpy.ndarray

In [7]:
BackOrders_data = BackOrders_data.drop("sku", axis=1)

In [9]:
BackOrders_data = BackOrders_data.drop("went_on_backorder", axis=1)

In [10]:
BackOrders_data

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,...,potential_issue,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop
0,117,NaN,0,0,0,0,0,0,15,15,...,No,0,-99.00,-99.00,0,No,No,Yes,Yes,No
1,7,2.0,0,0,0,0,0,0,0,0,...,No,0,0.50,0.28,0,Yes,No,No,Yes,No
2,258,15.0,10,10,77,184,46,132,256,365,...,No,0,0.54,0.70,0,No,No,No,Yes,No
3,46,2.0,0,0,0,0,1,2,6,9,...,No,0,0.75,0.90,0,Yes,No,No,Yes,No
4,2,2.0,0,4,6,10,2,2,5,6,...,No,0,0.97,0.92,0,No,No,No,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61584,6,8.0,0,24,24,24,0,7,9,12,...,No,0,0.98,0.98,0,No,No,No,Yes,No
61585,130,2.0,0,40,80,140,18,108,230,317,...,No,0,0.51,0.28,0,No,No,No,Yes,No
61586,135,9.0,0,0,0,0,10,40,65,89,...,No,0,1.00,0.99,0,No,No,Yes,Yes,No
61587,63,NaN,0,0,0,0,452,1715,3425,4864,...,No,0,-99.00,-99.00,1,No,No,No,No,No
61588,0,2.0,0,8,8,8,0,1,1,1,...,No,0,0.79,0.78,0,Yes,No,No,Yes,No

In [11]:
BackOrders_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61589 entries, 0 to 61588
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   national_inv       61589 non-null  int64
 1   lead_time          58186 non-null  float64
 2   in_transit_qty     61589 non-null  int64
 3   forecast_3_month   61589 non-null  int64
 4   forecast_6_month   61589 non-null  int64
 5   forecast_9_month   61589 non-null  int64
 6   sales_1_month      61589 non-null  int64
 7   sales_3_month      61589 non-null  int64
 8   sales_6_month      61589 non-null  int64
 9   sales_9_month      61589 non-null  int64
 10  min_bank           61589 non-null  int64
 11  potential_issue    61589 non-null  object
 12  pieces_past_due    61589 non-null  int64
 13  perf_6_month_avg   61589 non-null  float64
 14  perf_12_month_avg  61589 non-null  float64
 15  local_bo_qty       61589 non-null  int64
 16  deck_risk          61589 non-null  object
 17  oe_constraint      61589 non-null  object
 18  ppap_risk          61589 non-null  object
 19  stop_auto_buy      61589 non-null  object
 20  rev_stop           61589 non-null  object
dtypes: float64(3), int64(12), object(6)
memory usage: 9.9+ MB

In [24]:
BackOrders_data_num = BackOrders_data.select_dtypes(include=["int64", "float64"])
BackOrders_data_num_col = BackOrders_data_num.columns.tolist()

In [13]:
BackOrders_data_num

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,min_bank,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty
0,117,NaN,0,0,0,0,0,0,15,15,1,0,-99.00,-99.00,0
1,7,2.0,0,0,0,0,0,0,0,0,0,0,0.50,0.28,0
2,258,15.0,10,10,77,184,46,132,256,365,47,0,0.54,0.70,0
3,46,2.0,0,0,0,0,1,2,6,9,1,0,0.75,0.90,0
4,2,2.0,0,4,6,10,2,2,5,6,0,0,0.97,0.92,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61584,6,8.0,0,24,24,24,0,7,9,12,1,0,0.98,0.98,0
61585,130,2.0,0,40,80,140,18,108,230,317,34,0,0.51,0.28,0
61586,135,9.0,0,0,0,0,10,40,65,89,2,0,1.00,0.99,0
61587,63,NaN,0,0,0,0,452,1715,3425,4864,542,0,-99.00,-99.00,1
61588,0,2.0,0,8,8,8,0,1,1,1,0,0,0.79,0.78,0

In [42]:
BackOrders_data_cat = BackOrders_data.select_dtypes(include=["object"]).copy()

In [16]:
BackOrders_data_cat

      potential_issue deck_risk oe_constraint ppap_risk stop_auto_buy rev_stop
0                  No        No            No       Yes           Yes       No
1                  No       Yes            No        No           Yes       No
2                  No        No            No        No           Yes       No
3                  No       Yes            No        No           Yes       No
4                  No        No            No        No           Yes       No
...               ...       ...           ...       ...           ...      ...
61584              No        No            No        No           Yes       No
61585              No        No            No        No           Yes       No
61586              No        No            No       Yes           Yes       No
61587              No        No            No        No            No       No
61588              No       Yes            No        No           Yes       No

[61589 rows x 6 columns]

In [17]:
def show_missing(data):
    return data.columns[data.isnull().any()].tolist()

missing_num_col = show_missing(BackOrders_data_num)

In [18]:
missing_num_col

['lead_time']

In [19]:
missing_num_count = BackOrders_data_num[missing_num_col].isnull().sum()

In [20]:
missing_num_count

lead_time    3403
dtype: int64

In [21]:
BackOrders_data_num[missing_num_col].median()

lead_time    8.0
dtype: float64

In [22]:
BackOrders_data_num[missing_num_col].mean()

lead_time    7.559619
dtype: float64

In [26]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy="median")

BackOrders_data_num_impute = imputer.fit_transform(BackOrders_data_num)

In [28]:
BackOrders_data_num_impute_df = pd.DataFrame(BackOrders_data_num_impute, columns=BackOrders_data_num_col)

In [29]:
BackOrders_data_num_impute

array([[117.  ,   8.  ,   0.  , ..., -99.  , -99.  ,   0.  ],
       [  7.  ,   2.  ,   0.  , ...,   0.5 ,   0.28,   0.  ],
       [258.  ,  15.  ,  10.  , ...,   0.54,   0.7 ,   0.  ],
       ...,
       [135.  ,   9.  ,   0.  , ...,   1.  ,   0.99,   0.  ],
       [ 63.  ,   8.  ,   0.  , ..., -99.  , -99.  ,   1.  ],
       [  0.  ,   2.  ,   0.  , ...,   0.79,   0.78,   0.  ]])

In [31]:
show_missing(BackOrders_data_num_impute_df)

[]

In [33]:
BackOrders_data_cat

      potential_issue deck_risk oe_constraint ppap_risk stop_auto_buy rev_stop
0                  No        No            No       Yes           Yes       No
1                  No       Yes            No        No           Yes       No
2                  No        No            No        No           Yes       No
3                  No       Yes            No        No           Yes       No
4                  No        No            No        No           Yes       No
...               ...       ...           ...       ...           ...      ...
61584              No        No            No        No           Yes       No
61585              No        No            No        No           Yes       No
61586              No        No            No       Yes           Yes       No
61587              No        No            No        No            No       No
61588              No       Yes            No        No           Yes       No

[61589 rows x 6 columns]

In [45]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

for col in BackOrders_data_cat.columns :
    BackOrders_data_cat[col] = encoder.fit_transform(BackOrders_data_cat[col])

In [46]:
BackOrders_data_cat.head()

,potential_issue,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop
0,0,0,0,1,1,0
1,0,1,0,0,1,0
2,0,0,0,0,1,0
3,0,1,0,0,1,0
4,0,0,0,0,1,0

In [82]:
target_variable

0         No
1         No
2         No
3         No
4         No
        ...
61584     No
61585     No
61586     No
61587    Yes
61588    Yes
Name: went_on_backorder, Length: 61589, dtype: object

In [108]:
target_variable = encoder.fit_transform(target_variable).copy()
target_variable = pd.Series(target_variable)

In [109]:
target_variable

0        0
1        0
2        0
3        0
4        0
        ..
61584    0
61585    0
61586    0
61587    1
61588    1
Length: 61589, dtype: int64

In [49]:
total_data=pd.concat([BackOrders_data_num, BackOrders_data_cat], axis=1)

In [50]:
total_data.head()

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,potential_issue,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop
0,117,NaN,0,0,0,0,0,0,15,15,...,0,-99.00,-99.00,0,0,0,0,1,1,0
1,7,2.0,0,0,0,0,0,0,0,0,...,0,0.50,0.28,0,0,1,0,0,1,0
2,258,15.0,10,10,77,184,46,132,256,365,...,0,0.54,0.70,0,0,0,0,0,1,0
3,46,2.0,0,0,0,0,1,2,6,9,...,0,0.75,0.90,0,0,1,0,0,1,0
4,2,2.0,0,4,6,10,2,2,5,6,...,0,0.97,0.92,0,0,0,0,0,1,0

In [51]:
total_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61589 entries, 0 to 61588
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   national_inv       61589 non-null  int64
 1   lead_time          58186 non-null  float64
 2   in_transit_qty     61589 non-null  int64
 3   forecast_3_month   61589 non-null  int64
 4   forecast_6_month   61589 non-null  int64
 5   forecast_9_month   61589 non-null  int64
 6   sales_1_month      61589 non-null  int64
 7   sales_3_month      61589 non-null  int64
 8   sales_6_month      61589 non-null  int64
 9   sales_9_month      61589 non-null  int64
 10  min_bank           61589 non-null  int64
 11  pieces_past_due    61589 non-null  int64
 12  perf_6_month_avg   61589 non-null  float64
 13  perf_12_month_avg  61589 non-null  float64
 14  local_bo_qty       61589 non-null  int64
 15  potential_issue    61589 non-null  int64
 16  deck_risk          61589 non-null  int32
 17  oe_constraint      61589 non-null  int32
 18  ppap_risk          61589 non-null  int32
 19  stop_auto_buy      61589 non-null  int32
 20  rev_stop           61589 non-null  int32
dtypes: float64(3), int32(5), int64(13)
memory usage: 8.7 MB

In [110]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(total_data, target_variable, test_size=0.25, random_state=42)

In [102]:
total_data.shape

(61589, 21)

In [103]:
type(x_train)

pandas.core.frame.DataFrame

In [115]:
type(y_train)

pandas.core.series.Series

In [91]:
x_test.shape

(15398, 21)

In [92]:
61589*0.25

15397.25

In [113]:
x_train

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,potential_issue,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop
45537,8,8.0,0,0,0,0,0,2,3,10,...,0,0.78,0.83,0,0,1,0,0,1,0
34224,18,3.0,0,0,0,0,4,4,4,4,...,0,0.98,0.98,0,0,0,0,0,1,0
46945,12,8.0,8,5,15,25,7,22,36,55,...,0,0.85,0.80,0,0,0,0,0,1,0
5994,7,12.0,0,2,2,2,0,0,0,0,...,0,0.48,0.48,0,0,1,0,0,1,0
18143,9,2.0,0,35,63,77,10,26,36,86,...,0,0.97,0.93,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54343,0,2.0,0,2,2,3,1,2,2,3,...,0,0.98,0.95,0,0,0,0,0,1,0
38158,4,2.0,0,0,0,0,0,0,0,2,...,0,0.68,0.64,0,0,0,0,0,1,0
860,45,12.0,0,0,0,0,0,0,1,1,...,0,0.73,0.76,0,0,1,0,0,1,0
15795,2,2.0,0,6,12,16,2,6,10,13,...,0,0.95,0.95,0,0,0,0,0,1,0
56422,19,8.0,0,30,75,90,3,16,44,107,...,0,0.98,0.98,0,0,0,0,1,1,0

In [112]:
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestClassifier
RF=RandomForestClassifier(random_state=42)

rfe_RF=RFE(RF,n_features_to_select=4,verbose=21)

rfe_RF.fit(x_train, y_train)
names=x_train.columns.tolist()
b=rfe_RF.ranking_

a=pd.DataFrame(sorted(list(map(lambda x,y: (x,y),b,names))),columns=['rank','features'])
a.to_csv('feature_selection.csv')

RFE_selected=a['features'][a['rank']==1]

ValueError: Input X contains NaN.
RFE does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values